<div class="post-form">
  <div class="post-form__editor">
    <div class="post-form__title">Title
    </div>
    <div class="post-form__tags">Tags
    </div>
    <div class="post-form__content">本文
      <div class="editor-header">
      </div>
      <div class="markdwon-editor">
      </div>
    </div>
  </div>
</div>
